:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-grayish-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);

    --font-default: 'Outfit', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
    --fs-400: 15px;
    --fs-700: 22px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--font-default);
    font-size: var(--fs-400);
    color: var(--clr-grayish-blue);
    background-color: var(--clr-light-gray);
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--clr-dark-blue);
    transition: 0.35s;
}
a:hover { opacity: 0.75; }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 50px);
    padding: 2rem;
}

.attribution {
    text-align: center;
    padding: 1rem;
    height: 50px;
}

.card {
    background-color: var(--clr-white);
    max-width: 20rem;
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0 1rem 3rem hsla(0, 0%, 0%, 0.095);
}

.card-media { border-radius: 8px; }

.card-body {
    text-align: center;
    padding: 1rem;
    display: grid;
    align-content: start;
    gap: 1rem;
}

.card-title {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    color: var(--clr-dark-blue);
}